# compiled output
/dist
**/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
tests/load/dist

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env

# K8s
k8s/reservation-microservices/reservation-system-384520-2d2ef662b751.json
k8s/reservation-microservices/jwt.yaml
k8s/reservation-microservices/google.yaml
k8s/reservation-microservices/stripe.yaml
k8s/reservation-microservices/mongodb.yaml
